<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.reader.XMLReaderNodeFactory"
            >
      </node>
      <node
            after="org.knime.xml.node.reader.XMLReaderNodeFactory"
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.writer.XMLWriterNodeFactory"
            >
      </node>
      <node
            after="org.knime.xml.node.writer.XMLWriterNodeFactory"
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.stringtoxml.StringToXMLNodeFactory"
            >
      </node> 
      <node
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.xpath.XPathNodeFactory"
            deprecated="true"
            >
      </node>
      <node
            after="org.knime.xml.node.stringtoxml.StringToXMLNodeFactory"
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.xpath2.XPathNodeFactory"
            >
      </node>
      <node
            after="org.knime.xml.node.xpath2.XPathNodeFactory"
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.xslt.XSLTNodeFactory"
            >
      </node>
      <node
            after="org.knime.xml.node.xslt.XSLTNodeFactory"
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.columntoxml.ColumnToXMLNodeFactory"
            >
      </node>
      <node
            after="org.knime.xml.node.columntoxml.ColumnToXMLNodeFactory"
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.ccombine2.XMLColumnCombinerNodeFactory"
            >
      </node>
      <node
            after="org.knime.xml.node.ccombine2.XMLColumnCombinerNodeFactory"
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.rcombine.XMLRowCombinerNodeFactory"
            >
      </node> 
      <node
            after="org.knime.xml.node.rcombine.XMLRowCombinerNodeFactory"
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.combinewriter.XMLCombineWriterNodeFactory"
            >
      </node>      
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Nodes for processing XML"
            icon="icons/xml.png"
            level-id="xml"
            name="XML"
            path="/struct-data">
      </category>
   </extension>   
     <extension
           point="org.knime.workbench.repository.registeredFileExtensions">
        <FileExtensionMapping
              NodeFactory="org.knime.xml.node.reader.XMLReaderNodeFactory">
           <FileExtension
                 extension=".xml">
           </FileExtension>
        </FileExtensionMapping>
    </extension>

</plugin>
