<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<extension point="org.knime.workbench.repository.nodes">
      <node 
            category-path="/struct-data/xml" 
            factory-class="org.knime.xml.node.filehandling.reader.XMLReaderNodeFactory2"
            >
      </node>
      <node
            after="org.knime.xml.node.filehandling.reader.XMLReaderNodeFactory2"
            category-path="/struct-data/xml"
            factory-class="org.knime.xml.node.filehandling.writer.XMLWriterNodeFactory2"
            >
      </node>
   </extension>
   <extension point="org.knime.workbench.repository.registeredFileExtensions">
      <FileExtensionMapping NodeFactory="org.knime.xml.node.filehandling.reader.XMLReaderNodeFactory2">
         <FileExtension extension=".xml"/>
         <FileExtension extension=".xml.gz"/>
      </FileExtensionMapping>
   </extension>
</plugin>
